.produit img {
    width: auto;
    height: 370px;
}

#reponse{
    width: 500px;
    height: 30px;
    accent-color: green;
}

#barre{
    width: 500px;
    height: 30px;
}

.annonce1 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.annonce2 {
    display: flex;
    align-items: center;
    gap: 10px;
}

#title{
    color:rgb(0, 151, 13);
    align-items: center;
    font-family: fantasy;
    font-size: 100px;
}

#index{
    background-color: rgb(246, 255, 246);
}

#new {
    width: 300px;
    background-color: greenyellow;
    height: 70px;
    font-size: 50px;
    font-family: serif;
}

#new:hover{

    background-color: rgb(238, 255, 47);
}

#screen{
    display: flex;
    justify-content: center; 
    align-items: center;   
    margin: 20px;
    gap:20px;
}

#title_div{
    display: flex;
    justify-content: center; 
    align-items: center;     
}

#info{
    display: flex;
    justify-content: center; 
    align-items: center;   
    margin: 20px;
    background-color: darkolivegreen;
    gap:20px;
}

#info h2{
    color:aliceblue;
}

#liste{
    display: flex;
    justify-content: center; 
    align-items: center;   
    margin: 20px;
}

#rep{
    display: flex;
    justify-content: center; 
    align-items: center;   
}

#valid{
    display: flex;
    justify-content: center; 
    align-items: center;   
}

#secret{
    display: flex;
    justify-content: center; 
    align-items: center;
    gap : 20px;
}

#secret2{
    display: flex;
    justify-content: center; 
    align-items: center;
    gap : 20px;
}

#reveal{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height :25px;  
}

#reveal3{
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 10px;
}

#reveal4{
    display: flex;
    justify-content: center; 
    align-items: center;   
        height: 30px;
}

#reveal5{
    display: flex;
    justify-content: center; 
    align-items: center;   
}

#hint {
    width: 150px;
    background-color: rgb(220, 34, 253);
    height: 30px;
    font-size: 20px;
    font-family: serif;
}

#hint:hover{

    background-color: rgb(255, 42, 230);
}

#valider {
    width: 100px;
    background-color: rgb(47, 255, 57);
    height: 30px;
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
}

#valider:hover{

    background-color: rgb(238, 255, 47);
}

.hint1 p {
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.hint2 p {
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#temperature {
    width: 150px;
    background-color: rgb(253, 129, 34);
    height: 30px;
    font-size: 20px;
    font-family: serif;
}

#temperature:hover{

    background-color: rgb(255, 209, 42);
}